@font-face {
    font-family: 'Grtsk Tera Bkslnt Bold';
    src: url('../fonts/Grtsk-Tera-Bkslnt-Bold.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera Bkslnt ExtraLight';
    src: url('../fonts/Grtsk-Tera-Bkslnt-ExtraLight.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera Bkslnt Light';
    src: url('../fonts/Grtsk-Tera-Bkslnt-Light.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera Bkslnt Medium';
    src: url('../fonts/Grtsk-Tera-Bkslnt-Medium.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera Bkslnt Regular';
    src: url('../fonts/Grtsk-Tera-Bkslnt-Regular.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera Bkslnt SemiBold';
    src: url('../fonts/Grtsk-Tera-Bkslnt-SemiBold.otf')
 }
 @font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/Grtsk-Tera-Bkslnt-Thin.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera Bold Italic';
    src: url('../fonts/Grtsk-Tera-Bold-Italic.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera Bold';
    src: url('../fonts/Grtsk-Tera-Bold.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera ExtraLight Italic';
    src: url('../fonts/Grtsk-Tera-ExtraLight-Italic.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera ExtraLight';
    src: url('../fonts/Grtsk-Tera-ExtraLight.otf')
 }
 @font-face {
    font-family: 'Grtsk Tera Italic';
    src: url('../fonts/Grtsk-Tera-Italic.otf')
 }